header {
    width: 75%;
    margin: auto;
    text-align: center;
}

div#main {
    width: 75%;
    margin: auto; 
    text-align: center;
}
 
ul#form-controls {
    list-style: none;
    padding: 0;
} 

ul#form-controls li{
    padding: 10px;
} 

input[type=checkbox] {
    transform: scale(1.25);
}